<html>
	<head>
		<meta content='text/html;charset=UTF-8' http-equiv='Content-Type' />
	</head>

	<body>
		<p>
			Hi <%= @user.first_name %>,
		</p>
		<p style="margin-top:10px;">
			Your password for the <a href="<%= @url %>" target="_blank">FFC Songs</a> website has been reset by an administrator.
		</p>
		<p style="margin-top:10px;">
			Your new password is:&nbsp;&nbsp; <strong><%= @pass %></strong>
		</p>
		<p style="margin-top:10px;">
			To change your password, you'll need to login using the password listed above.<br>
			Go to this site, and enter your email address and this new password to login: <a href="http://ffcsongs.com/users/sign_in" target="_blank">http://ffcsongs.com/users/sign_in</a><br>
			You can then click on your name in the upper right-hand portion of the page to update your account settings,<br>
			including your current password.
		</p>
		<p style="margin-top:10px;">
			If you believe this was done in error, please let us know ASAP.
		</p>

		<p style="margin-top:10px;">Thanks and have a great day!</p>

	</body>
</html>