<div style="width:100%;float:left;margin-top:-120px;margin-bottom:-100px;">
	<%= image_tag("ffc_worship2.png", alt: "Praise Team Announcement", style: "width:100%;") %>
</div>

<div id="schedules">
	<%= render @schedules %>
</div>
<%= will_paginate @schedules %>
