<!--//
<div style="margin:-10px auto 0px;width:600px;">
	<%#= image_tag("ffc_worship3.png", alt: "Praise Team Announcement", style: "width:100%;") %>
</div>
-->
<!--Possible update to filter events/posts by type?//-->
<!--
<div style="width:100%;height:50px;float:left;background-color:#EEE;">
	<div style="width:50%;float:left;">
		<label style="line-height:50px;margin-left:15px;margin-right:10px;font-size:20px;">Event Types:</label>
		<select style="width:150px;font-size:16px;">
			<option value="">All</option>
			<option value="">Community</option>
			<option value="">Sunday Schedules</option>
		</select>
	</div>
</div>
-->

<div id="announcementdiv" style="width:100%;">
	<% Announcement.get_active.each do |announcement| %>
		<div class="alert alert-info">
			<% head = announcement.heading.size > 0 ? "<span class='announce_span'>#{announcement.heading}</span>" : "" %>
			<%= "#{head} #{announcement.message}".html_safe %>
		</div>
	<% end %>
</div>


<%# nxtsch = Schedule.next_schedule %>
<div id="schedules">
	<%#= render :partial => 'schedules/schedule', :collection => @schedules, locals: {next_sched: nxtsch} %>
	<%= render @schedules %>
</div>
<%= will_paginate @schedules %>
