
<div id="announcementdiv" style="width:100%;">
	<% if Announcement.get_active.size > 0 %>
		<div class="alert alert-info">
			<% annc_arry = [] %>
			<% Announcement.get_active.each do |announcement| %>
				<% head = announcement.heading.size > 0 ? "<span class='announce_span'>#{announcement.heading}</span>" : "" %>
				<% annc_arry.push("#{head} #{announcement.message}") %>
			<% end %>
			<%= annc_arry.join("<br><br>").html_safe %>
		</div>
	<% end %>
</div>

<div id="schedules">
	<%= render @schedules %>
</div>
<%= will_paginate @schedules %>
