<h3>New Calendar Entry</h3>

<%= javascript_tag do %>
	var params = FUSION.get.urlParams();
	var stime  = "";
	if(params['start_time'] && !FUSION.lib.isBlank(params['start_time']))
	{
		stime = "START TIME IS: " + params['start_time'];
	}
	else
	{
		stime = "NO DATE SPECIFIED";
	}
	console.log(stime);
<% end %>

<%= render 'form', new_or_edit: "new" %>
